* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  background-color: #111111;
  color: white;
  height: 100vh;
}

.middleRow {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border: 0.1rem solid black;
}

.bottomCol {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border: 0.1rem solid black;
}

.centerBottomCol,
.leftBottomCol,
.rightBottomCol {
  width: 25rem;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 2rem;
  border: 0.1rem solid black;
}
.top-menu {
  border-bottom: white solid 1px;
  width: 100%;
}

.navbar {
  margin-left: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icons {
  margin-left: 10px;
  display: flex;
}

.icons > span {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: none;
}

#login-button {
  margin-right: 40px;
}

.dropDown {
  display: flex;
  align-items: center; /* Align items vertically */
  justify-content: center; /* Align items horizontally */
}

.footyStats {
  margin-left: 5px;
  padding-bottom: 4px;
  font-size: 30px;
}
