@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Balsamiq+Sans&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  color: white;
  height: 100vh;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0rem 2rem 0rem 0rem;
}

.top-menu {
  border-bottom: white solid 1px;
  width: 100%;
}

.middleRow {
  display: flex;
  flex-direction: row;
  margin: 0.5rem 0rem 0rem 0.5rem;
  font-size: 12px;
}

.sliderContainer {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 0.5rem 0rem 0rem 0.3rem;
}

.sliderLabel {
  margin: 0rem 0rem 0rem 0.5rem;
}

.slider input[type='range'] {
  -webkit-appearance: none;
  width: 5rem;
  height: 5px;
  background: #646161;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
  border-radius: 5px;
  margin: 0rem 0rem 0rem 0.5rem;
}

.slider input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #7f7f7e;
  cursor: pointer;
  border-radius: 50%;
}

.slider input[type='range']::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #7f7f7e;
  cursor: pointer;
  border-radius: 50%;
}

.navbar {
  margin-left: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spin {
  animation: spin 2s linear infinite;
  background-color: white;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.iconImg {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 20px;
  background-color: 'transparent';
}

/* Add this to your CSS file */
.bounce {
  animation: bounce 1s ease infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.icons {
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.icons > button {
  text-decoration: none;
  color: white;
}

.login-button {
  margin-right: 20px;
  border-radius: 5px;
  padding: 0;
}

.dropDown {
  display: flex;
  /* align-items: center; Align items vertically */
  /* justify-content: center; Align items horizontally */
  padding-top: 2px;
}

.footyStats {
  margin-left: 5px;
  padding-bottom: 4px;
  font-size: 30px;
  font-family: 'Alkatra', cursive;
  font-size: 2rem;
}

.sign-out-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  background-color: black;
}

.user-image {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.user-name {
  font-size: 16px;
  font-weight: bold;
  margin-right: 0.5rem;
}

.bottomCol {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.centerBottomCol {
  margin: 0rem 2rem 0.3rem 0rem;
}

.videoBottomCol {
  /* margin: 0rem 2rem 0rem 0rem ; */
}

.lastCol {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.chatGPT4 {
  position: fixed;
  bottom: 20px;
  right: 20px;
  /* font-family: 'Roboto', sans-serif; */
  z-index: 1000;
  margin: 0rem 3rem 0rem 0rem;
}

.chatGPT4-window {
  width: 350px;
  height: 500px;
  background-color: #212121;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.chatGPT4-header {
  background-color: #121212;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.chatGPT4-bot-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.chatGPT4-bot-name {
  font-size: 18px;
  color: #ffffff;
  flex-grow: 1;
}

.chatGPT4-popout {
  background-color: #2c2c2c;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.chatGPT4-messages {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
}

.chatGPT4-message {
  display: flex;
  align-items: flex;
}

.chatImages {
  width: 3rem;
  height: 3rem;
  border-radius: 20px;
  margin: 0.5rem 0.5rem 0rem 0rem;
}

#wg-football-dropbtn {
  background-color: #b08af7;
}

.chatGPT4-popout {
  width: 3rem;
  height: 2rem;
  /* background-color: #b08af7; */
  background-color: #01d099;
}

.chatGPT-closeBtn {
  width: 2rem;
  height: 2rem;
  /* background-color: #b08af7; */
  background-color: #01d099;
  margin: 0.5rem 0rem 0rem 0rem;
}

.chatGPT-submitBtn {
  width: 3rem;
  height: 3rem;
  /* background-color: #b08af7; */
  background-color: #01d099;
}

.chatGPT4-input {
  background-color: #121212;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chatGPT4-input-text {
  background-color: #2c2c2c;
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: #ffffff;
  flex-grow: 1;
  margin-right: 10px;
}

.chatGPT4-message-content {
  margin: 0.5rem 0rem 0rem 0rem;
}

.chatGPT4-privacy {
  font-size: 0.5rem;
  color: #ffffff;
  text-align: left;
  /* color: #b08af7; */
  color: #01d099;
  padding: 0.2rem;
}

/* If you don't want to use an image you can use an animated spinner instead: */
/* .chatGPT4-spinner {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-left-color: #000;
  border-radius: 50%;
  animation: chatGPT4-spin 1s linear infinite;
}

@keyframes chatGPT4-spin {
  100% {
    transform: rotate(360deg);
  }
} */

/* If you want to use an image as spinner */
.chatGPT4-spinner {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  animation: chatGPT4-spin-image 1s linear infinite;
}

@keyframes chatGPT4-spin-image {
  100% {
    transform: rotate(360deg);
  }
}
