<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Football Standings Widget</title>
    <style>
      body {
        margin: 0;
        padding: 0;
        overflow: hidden;
      }
    </style>
  </head>
  <body>
    <div
      id="wg-api-football-standings"
      data-host="v3.football.api-sports.io"
      data-key="b7a8474c1f81e9ce7295f98ce33eb5f4"
      data-league="39"
      data-team=""
      data-season="2021"
      data-theme=""
      data-show-errors="false"
      data-show-logos="true"
      class="wg_loader"
    ></div>
    <script type="module" src="https://widgets.api-sports.io/2.0.3/widgets.js"></script>
  </body>
</html>
